{% extends 'base.html' %}
{% load static %}
{% block main_extra_css %}
    {% block extra_css %}{% endblock %}
{% endblock %}

{% block main_extra_js %}
	<!-- Page Specific JS -->
	<script src="{% static 'js/app.js' %}"></script>
    {% block extra_js %}{% endblock %}
{% endblock %}

{% block main_content %}
    {% include 'includes/dashboard/sidebar.html' %}

	<section class="d-wrapper">
        {% include 'includes/navbar.html' %}
		<div class="pt-3 p-md-3 p-lg-4">
			<div class="container-xl main-content">
				{% block content %}{% endblock %}
			</div>
		</div>
        {% include 'includes/footer.html' %}
	</section>

{% endblock %}
