{% extends "layouts/assetdash.html" %}
{% load static %}
{% block extra_css %}
    {% include 'includes/dashboard/datatable_css.html' %}
    <style>
        .dt-buttons .btn-group .dt-button-collection{
            height: 180px;
            overflow: auto;
        }
    </style>
{% endblock %}
{% block extra_js %}
    {% include 'includes/dashboard/datatable_links.html' %}
    {% include 'includes/dashboard/datatable_export_link.html' %}

    <script>
        $(document).ready( function () {
            $('#asset_status_list_table').DataTable({
                language: {
                    paginate: { next: '&#8594;', previous: '&#8592;'}
                  },
                lengthChange: false,
                  buttons: [
                      {
                          extend:    'colvis',
                          text:      `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                                      </svg>`,
                          titleAttr: 'Remove Column',
                      },
                  ],
                lengthMenu: [20, 50, 100, -1 ],
                columnDefs: [
                    {targets: [1, 3,6,7],visible: false}
                ],
              'order': [[0, 'asc']],
            }).buttons().container().appendTo("#asset_status_list_table_wrapper .col-md-6:eq(0)");
		});
    </script>

{% endblock %}
{% block content %}
    <nav class="chevron-right"  aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" class="h-u-line">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
    <div class="d-flex justify-content-between align-items-center">
        <h3 class="mb-3 d-inline-block">{{ title }}</h3>
        <a class="btn mx-2 btn-primary btn-icon" href="{% url 'assetdash_request_create' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
            </svg>
            <span>Asset Request</span>
        </a>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive p-3">
              <table id="asset_status_list_table" class="table table-striped" style="width: 100%; min-height: 6vh">
                <thead>
                    <tr>
                        <th>Asset</th>
                        <th>Requested</th>
                        <th>Approved By</th>
                        <th>Message</th>
                        <th>Status</th>
                        <th>Request on</th>
                        <th>Receive on</th>
                        <th>Comment</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>{{ object.asset }}</td>
                            <td>{{ object.requested }}</td>
                            <td>{{ object.approved_by }}</td>
                            <td>{{ object.details }}</td>
                            <td data-bs-toggle="tooltip" data-bs-placement="top" title="Status {{ object.get_status_display }}">{{ object.get_status|safe }}</td>
                            <td>{{ object.request_date|timesince }} {% if object.request_date %} ago {% endif %}</td>
                            <td>{{ object.receive_date|timesince }} {% if object.receive_date %} ago {% endif %}</td>
                            <td>{{ object.comment }}</td>
                            <td class="d-flex">
                                <a href="{% url 'assetdash_request_update' object.pk %}" class="text-success mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>

{% endblock %}
