{% extends "layouts/assetdash.html" %}
{% load crispy_forms_tags static %}
{% block extra_css %}{% endblock %}

{% block content %}
    <nav class="chevron-right" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}" class="h-u-line">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'assetdash_request_list' %}" class="h-u-line">Asset Request List</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
    <h3 class="mb-3 d-inline-block">{{ title }}</h3>
    <div class="card">
        <div class="card-body p-3 px-4">
            <form method="post" enctype="multipart/form-data">
                {% crispy form %}
            </form>
        </div>
    </div>
{% endblock %}
