{% extends "layouts/assetdash.html" %}
{% load crispy_forms_tags %}
{% block extra_js %}
{% endblock %}
{% block content %}
    <nav class="chevron-right" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" class="h-u-line">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/" class="h-u-line">User</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>

    <h1 class="h2 mb-3 d-inline-block">{{ title|capfirst }}</h1>
    <div class="rounded card p-4">
        <form method="POST" enctype="multipart/form-data">
            {% crispy form %}
        </form>
    </div>
{% endblock %}
