{% extends "layouts/assetdash.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <nav class="chevron-right" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" class="h-u-line">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'account' %}" class="h-u-line">Account</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>

    <h1 class="h2 mb-3 d-inline-block">{{ title|capfirst }}</h1>
    <div class="rounded card">
        <div class="row py-5">
            <div class="col-md-4 border-right d-flex justify-content-center align-items-center">
                <div class="d-flex flex-column align-items-center text-center pb-5">
                    {% if request.user.avatar %}
                        <img class="rounded-circle mt-5" src="{{ request.user.avatar.url }}" alt="{{ request.user }}" width="120">
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="106" height="106" fill="currentColor" class="text-primary bi bi-person-circle" viewBox="0 0 16 16">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                        </svg>
                    {% endif %}
                    <span class="font-weight-bold">{{ request.user|capfirst }}</span>
                    <span class="text-black-50 text-primary">{{ request.user.email }}</span>
                </div>
            </div>
            <div class="col-md-8">
                <form class="p-4" method="POST" enctype="multipart/form-data">
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
