{% extends "layouts/auth.html" %}
{% load i18n crispy_forms_filters accounts %}

{% block title %}{% trans "Set Password" %}{% endblock %}
{% block extra_css %}{% endblock %}

{% block extra_js %} {% endblock %}
{% block content %}
    <div class="card shadow-lg">
        <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
            <form method="POST" id="loginForm" class="needs-validation" novalidate="" autocomplete="off">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
        <div class="card-footer bg-primary2 py-3 border-0">
            <div class="text-center">
                Don't have an account? <a href="{% url 'registration_register' %}" class="text-primary">Create One</a>
            </div>
        </div>
    </div>
{% endblock %}
