{% extends "layouts/auth.html" %}
{% load i18n %}

{% block title %}{% trans "Activation Failure" %}{% endblock %}

{% block content %}
    <div class="card shadow-lg">
        <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">{% trans "Activation Failure" %}</h1>
            <p>{% trans "Account activation failed." %}</p>
        </div>
        <div class="card-footer bg-primary2 py-3 border-0">
            <div class="text-center">
                Don't have an account? <a href="{% url 'registration_register' %}" class="text-primary">Create One</a>
            </div>
        </div>
    </div>
{% endblock %}
