{% extends "layouts/auth.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}

{% block content %}
    <div class="card shadow-lg">
        <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">{% trans "Logged out" %}</h1>
            <p>
                {% trans "Thanks for spending some quality time with the web site today." %}
            </p>
        </div>
        <div class="card-footer py-3 bg-primary2 border-0">
            <div class="text-center">
                Already have an account? <a href="{% url 'auth_login' %}" class="text-primary">Login</a>
            </div>
        </div>
    </div>
{% endblock %}
