{% extends "layouts/auth.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block content %}
    <div class="card shadow-lg">
        <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">{% trans "Password changed" %}</h1>
            <p>{% trans "Password successfully changed!" %}</p>
        </div>
        <div class="card-footer bg-primary2 py-3 border-0">
            <div class="text-center">
                {% if not request.user.is_authenticated %}
                    Already have an account? <a href="{% url 'auth_login' %}" class="text-primary">Login</a>
                    {% else %}
                    Back to <a href="{% url 'assetdash' %}" class="text-primary">Dashboard</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
