{% extends "layouts/auth.html" %}
{% load i18n %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}

{% block content %}
    <div class="card shadow-lg">
        <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">{% trans "Activation email sent" %}</h1>
            <p>{% trans "Please check your email, to complete the registration process." %}</p>
        </div>
        <div class="card-footer bg-primary2 py-3 border-0">
            <div class="text-center">
                Already have an account? <a href="{% url 'auth_login' %}" class="text-primary">Login</a>
            </div>
        </div>
    </div>
{% endblock %}
