{% load static %}
{% if messages %}
    {% for message in messages %}
        <script>
            $(document).ready(function() {
                const Toast = Swal.mixin({
                      toast: true,
                      position: 'top-end',
                      showConfirmButton: false,
                      timer: 3000,
                      timerProgressBar: true,
                      padding:10,
                      customClass: {
                        popup: 'colored-toast'
                      },
                      didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                      }
                })
                {% for message in messages %}
                    Toast.fire({icon: '{{ message.tags }}', title: '{{ message }}'})
                {% endfor %}
            });
        </script>
    {% endfor %}
{% endif %}
